

.nav-icon {
    width: 2em;
    filter: invert(100%);
}

.nav-right {
    display: flex;
    align-items: center;
}

.remove-item {
    width: 1rem;
}

.dropdown-icon {
    width: 1rem;
    margin-right: .5rem;
}

.dropdown-item {
    display: flex;
    align-items: center;
}

li {
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.user-section {
    gap: 1rem;
    color: rgb(243, 243, 243);
}

.logged-username {
    text-transform: uppercase;
    font-size: smaller;
    letter-spacing: .1rem;
}

.navbar .dropdown-toggle::after {
    display: none !important;
}

.bag-icon {
    position: relative;
}

.notification-badge {
    width: 20px;
    height: 20px;
    background-color: blue;
}


